body {
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 105, 105); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.content {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: #171f30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .loading {
  width: 80px;
  height: 50px;
  position: relative;
}

.content .loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #5389a6;
  font-family: "Oxygen", sans-serif;
  -webkit-animation: text 3.5s ease both infinite;
          animation: text 3.5s ease both infinite;
  font-size: 12px;
  letter-spacing: 1px;
}

@-webkit-keyframes text {
  0% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    -webkit-transform: translateX(26px);
            transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes text {
  0% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    -webkit-transform: translateX(26px);
            transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.content .loading span {
  background-color: #5389a6;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  -webkit-transform: translateX(64px);
          transform: translateX(64px);
  -webkit-animation: loading 3.5s ease both infinite;
          animation: loading 3.5s ease both infinite;
}

.content .loading span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #a6dcee;
  border-radius: inherit;
  -webkit-animation: loading2 3.5s ease both infinite;
          animation: loading2 3.5s ease both infinite;
}

@-webkit-keyframes loading {
  0% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    width: 16px;
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  90% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes loading {
  0% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    width: 16px;
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  90% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes loading2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    width: 80%;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
}

@keyframes loading2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    width: 80%;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
}
.js-form-input {
  width: 300px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.js-submit-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.alert {
  margin-top: -15px;
  transform: translateX(-70px);
  text-align: center;
  color: rgb(253, 21, 21);
  display: none;
}
.movie-card {
  position: relative;
  z-index: 100;
  background-color: rgb(90, 85, 95);
  margin: 15px;
  width: 250px;
  height: 400px;
  box-shadow: 6px 5px 15px #8486868e;
  overflow-y: hidden;
  border-radius: 4px;

}
.movie-poster {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.movie-card:hover .movie-poster {
  object-fit: contain;
  height: 70%;
  transition: all 0.5s;

}
.card-content {
  border-top: 10px solid #65c1ff;
  width: 250px;
  background-color: rgba(90, 85, 95, 0.769);
  padding: 12px;
  position: absolute;
  display: none;
  transition: all 1s;

}
.movie-card:hover .card-content {
  display: block;
  transition: all 0.4s;
}
.prev-btn {
  position: fixed;
  left: 1%;
  top: 50%;
}
.next-btn {
  position: fixed;
  left: 99%;
  transform: translateX(-100%);
  top: 50%;
}
.movie-title, .movie-year, .movie-type {
  color: aliceblue;
}
.movie-title {
  font-size: 16px;
}
.movie-type {
  margin: 0;
}